{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "Database": {
        "Host": "localhost",
        "Port": "5432",
        "Name": "YourDatabaseName",
        "User": "your_username",
        "Password": "your_password"
    },
    "Seed": {
        "AdminPassword": "YourAdminPassword",
        "TeacherPassword": "YourTeacherPassword"
    },
    "AllowedHosts": "localhost;127.0.0.1",
    "ConnectionStrings": {
        "DefaultConnection": "Host=localhost;Port=5432;Database=YourDatabaseName;Username=your_username;Password=your_password"
    },
    "JwtSettings": {
        "Issuer": "https://localhost:7001",
        "Audience": "https://localhost:7001",
        "Secret": "YourSuperSecretKeyThatShouldBeAtLeast32CharactersLong!",
        "ExpiryMinutes": 60,
        "RefreshTokenExpirationDays": 7
    },
    "EmailSettings": {
        "Host": "smtp.gmail.com",
        "Port": "587",
        "SenderEmail": "your-email@gmail.com",
        "SenderPassword": "your-app-password"
    }
}
